body {
      background-color: rgb(19, 19, 19);
      height: 100%;
      font-family:'Courier New', Courier, monospace;
      font-family: 'Space Mono', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      margin: 0px;

}

.header {
      background-image: url(images/IMG_3688.JPG);
      background-size: cover;
      background-attachment: scroll;
      background-repeat: no-repeat;
      background-position: center;
      position: relative;
      top: 0px;
}



.navbar {
      position: sticky;
      top: 0px;
      max-width: fit-content;
      margin-left: auto;
      margin-right: auto;
}

button {
      width: 30vh;
      height: 5vw;

      background-color: rgba(3, 119, 75, 0.491);
      border: 0px;
      font-family: Bitcount Prop Single;
      border-radius: 12px;
      font-size: 12px;
      font-size: 3vh;
      color: rgb(255, 255, 255);
      transition-duration: 0.5s;

}

button:hover {
      color: black;
      background-color: blueviolet;
}

.section1 {
      padding: 5%;
      overflow: hidden;

}

.section2 {
      background-color: rgb(68, 142, 185);
      padding: 5%;
      overflow: hidden;
}

.section3 {
      background-color: rgb(68, 5, 91);
      padding: 5%;
      overflow: hidden;
}

.flexbox {
      overflow: hidden;
      display: flex;
      column-gap: 5vh;
}

.hoverbox {
      background-color: rgb(0, 0, 0);
      max-width: 100vw;

}

.hoverbox img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      vertical-align: middle;
      opacity: 30%;
      transition-duration: 2s
}



.hoverbox img:hover {
      opacity: 100%;
}


h1 {
      margin: 0px;
      color: rgb(255, 255, 255);
      text-align: center;
      font-size: 80px;
      font-size: 10vh;
      font-family: Bitcount Prop Single;

}


h2 {
      margin: 0px;
      color: rgb(255, 255, 255);
      text-align: center;
      font-size: 38px;
      font-family: Bitcount Prop Single;
}



.p1 {
      color: rgb(255, 255, 255);
      text-align: center;
      font-family: Space Mono;
      font-size: 12px;
      font-size: 2vh;
      font-weight: lighter;
      transition-duration: 1s;

}

#fp1:hover {
      color: rgb(238, 113, 41);
}

#sp1:hover {
      color: rgb(0, 0, 0);
}

#tp1:hover {
      color: rgb(244, 239, 2);
}

.p2 {
      color: rgb(255, 255, 255);
      text-align: right;
      font-family: Space Mono;
      font-size: 16px;
      font-size: 1.5vh;
      font-weight: lighter;
      transition-duration: 1s;
      opacity: 20%;
}

#fp2:hover {
      color: rgb(238, 113, 41);
      opacity: 100%;
}

#sp2:hover {
      color: rgb(0, 5, 161);
      opacity: 100%;
}

#tp2:hover {
      color: rgb(244, 239, 2);
      opacity: 100%;
}

.p3 {
      color: rgb(255, 255, 255);
      text-align: right;
      font-family: Space Mono;
      font-size: 16px;
      font-size: 1vh;
      font-weight: lighter;
      transition-duration: 1s;
      opacity: 20%;

}

#bts {font-family: Space Mono;
font-size: 1.5vw;
color: white;
transition-duration: 1s;}

#bts:hover {color: rgb(244, 2, 2);
      opacity: 100%}